@font-face {
	font-family: 'Campton-Light';
	font-style: normal;
	font-weight: normal;
    src:  url('assets/vendors/fonts/Campton-LightDEMO.otf') format('opentype');
    font-display: swap;
}

@font-face {
	font-family: 'Campton-Bold';
	font-style: normal;
	font-weight: bold;
	src:  url('assets/vendors/fonts/Campton-BoldDEMO.otf') format('opentype');
    font-display: swap;
}

