// colors
$white: #fff;
$black: #999;
$green: #039785;
$green-light: #D4EDEA;
$green-lightest: #F2F8F7;
$black-copy: #666666;
$black-header: #002A25;
$green-dark: #002A25;


// Typographgy
$font-family: 'Campton-Light', sans-serif;
$font-bold: 'Campton-Bold', sans-serif;

// Responsiveness sizes
$mobile: "screen and (max-width: 640px)";
$tablet-max: "screen and (max-width: 980px)";
$tablet: "(min-width: 640px) and (max-width: 1120px)";
$desktop: "screen and (min-width: 1120px)";

$base-font-size: 16px;